* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* =================================common================================= */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2e80ce;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
}
/* ==================================header=============================== */
.header {
    padding-top: 30px;
    background: var(--primary-color);
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navibar__list {
    display: flex;
}

.action__login,
.navibar__link {
    padding: 8px 21px;
    color: #c9d2da;
    text-align: center;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navibar__link:hover,
.navibar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navibar__link--active::before {
    position: relative;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    top: -3px;
    right: 8px;
}

.action__signup {
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
    font-style: normal;
}

.action__login {
    margin: right 7px;
}
